a {
    color: #007980;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #393E46;
}

h1 {
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #00ADB5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #00ADB5;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #007980;
}

hr {
    border-style: dotted none none;
    border-width: 6px;
    border-color: #DCDCDC;
    width: 4%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

.bottom-container {
    background-color: #00ADB5;
    padding: 50px 0 20px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #007980;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.btn:hover {
    background: #00ADB5;
    text-decoration: none;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.intro {
    width: 24%;
    margin: auto;
}

.machinelearning-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.middle-container {
    margin: 100px 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.top-container {
    background-color: #222831;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 50px;
}

.webdevelopment-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}